<!-- Right Navbar -->
<div class="r-navbar" id="nav-bar">
  <nav class="r-nav">
    <div>
      <a href="#" class="nav_logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <h5 class="nav_logo-name m-0">موضوعات</h5>
      </a>
      <div class="nav_list">
        <a href="#" class="nav_link active"> <i class="bx bx-grid-alt nav_icon"></i> <span class="nav_name">موضوع
            اول</span> </a>
        <a href="#" class="nav_link"> <i class="bx bx-user nav_icon"></i> <span class="nav_name">موضوع دوم</span> </a>
        <a href="#" class="nav_link"> <i class="bx bx-message-square-detail nav_icon"></i> <span
            class="nav_name">موضوع سوم</span> </a>
        <a href="#" class="nav_link"> <i class="bx bx-bookmark nav_icon"></i> <span class="nav_name">موضوع
            چهارم</span> </a>
        <a href="#" class="nav_link"> <i class="bx bx-folder nav_icon"></i> <span class="nav_name">موضوع پنجم</span>
        </a>
        <a href="#" class="nav_link"> <i class="bx bx-bar-chart-alt-2 nav_icon"></i> <span class="nav_name">موضوع
            ششم</span> </a>
      </div>
    </div>
    <!-- <a href="#" class="nav_link"> <i class="bx bx-log-out nav_icon"></i> <span class="nav_name">بیلاخ</span> </a> -->
  </nav>
</div>
<!-- End Right Navbar -->